@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    /* box-sizing: border-box;
    outline: 1px solid limegreen !important; */
}

html{
    scroll-behavior:smooth;
    font-family: 'JetBrains Mono', monospace;

}

html, body {
 width: 100vw;
}

html::-webkit-scrollbar {
    display: none;
  }



body{
    margin:0px;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: rgb(0, 3, 34);
}

.content-layout{
    display: inline-grid;
    width:100vw;
    grid-template-columns:100vw;
    grid-template-rows: repeat(3, 100vh) 90vh;
    column-gap:0px;
    row-gap:0px;
}

.header-wrapper{
    position:fixed;
    z-index: 10;
    width:80vw;
    padding-left:27.5vw;
    transition: transform 500ms;
}

.header{
    color:rgb(208, 208, 208);
    display: inline-grid;
    width:45vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5vh;
    column-gap:0px;
    row-gap:0px;
    padding-top: 1vh;
}

.header div:last-child{
    border: none;
}

.header div{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 2vw;
    border-right: rgb(255, 255, 255) solid 2px;
    cursor:pointer;
}

.header > div > *:hover{
    text-decoration: underline;
}
.header-divider{
    position:fixed;
    z-index: 3;
    top:calc(10vh - 10px);
    width:100vw;
    height:1px;
    background-color: #bbb;
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.greeting-background{
    position:absolute;
}

.ball{
    position:absolute;
    z-index: 1;
    width:0px;
    height:0px;
    top:50vh;
    left:50vw;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 3s;
}

.ball-fade-in{
    opacity: 0.8;
}

.greeting{
    display: flex;
    position:relative;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    height:100vh;
    width:100vw
}

.greeting-text-wrapper{
    color:rgb(208, 208, 208);
    display: flex;
    position:absolute;
    z-index: 2;
    top:45vh;
    left:30vw;
    width:max-content;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.small-greeting-text{
    font-size: 1vw;
    color: rgb(46, 60, 204);
}

.large-greeting-text{
    font-size: 4vw;
}

#skills-scroll{
    position:absolute;
    top: 90vh;
}

.skills-wrapper{
    position:relative;
    z-index: 0.5;
    color:rgb(208, 208, 208);
    background-color: rgb(0,3,34);
    padding-left: 7vw;
    padding-right: 7vw;
}

.skills-wrapper > h1{
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}


.skills {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 24vw 24vw 24vw;
    column-gap: 5vw;
}

.skills .scroll-animation{
    opacity: 0;
}

.skills .show{
    transition: opacity 2s;
    opacity: 1;
}

.skils .hidden{
    opacity: 0;
    transition: opacity 0s;
}

.scroll-animation:nth-child(1){
    transition-delay: 100ms;
}

.scroll-animation:nth-child(2){
    transition-delay: 200ms;
}

.scroll-animation:nth-child(3){
    transition-delay: 300ms;
}

.skill{
    width: 25vw;
    border: 0.12vw solid rgb(0, 4, 71);
    border-radius: 1vw;
    background-color: rgb(0, 53, 95);
    padding: 0.8vw;
}

.about-me,
.languages,
.qualifications {
    font-size: 2vh;
    align-content: center;
    justify-content: center;
    padding: 1vw;
}

@media (max-width: 1100px) {
    .skills {
        grid-template-rows: auto auto auto;
        grid-auto-rows: auto auto auto;
        grid-template-columns: 1fr;
        row-gap: 3vh;
        padding-left: 10vw;
    }

    .about-me {
        font-size: 1.65vh;
    }

    .languages,
    .qualifications {
        font-size: 1.1vh;
    }

    .skills > div {
        width: 60vw;
    }

    .content-layout{
        grid-template-rows: 100vh auto 100vh 90vh;
    }
}



.languages ul{
    list-style-type: none;
    padding-left: 0.4vw;
}

.languages li {
    margin: 0.4vw 0;
    padding-left: 35px;
    background: url('default-icon.png') left center no-repeat;
    background-size: 1vw 1vw;
}

.languages li#Python {
    background: url('icons/python-icon.png') left center no-repeat;
    background-size: 1vw 1vw;
}

.languages li#Javascript {
    background: url('icons/javascript-icon.png') left center no-repeat;
    background-size: 1vw 1vw;
}

.languages li#HTML {
    background: url('icons/html-icon.png') left center no-repeat;
    background-size: 1vw 1vw;
}

.languages li#CSS {
    background: url('icons/css-icon.png') left center no-repeat;
    background-size: 1vw 1vw;
}

.languages li#Java {
    background: url('icons/java-icon.png') left center no-repeat;
    background-size: 1vw 1vw;
}

.languages li#Git {
    background: url('icons/git-icon.png') left center no-repeat;
    background-size: 1vw 1vw;
}

.languages li#C {
    background: url('icons/c++-icon.png') left center no-repeat;
    background-size: 1vw 1vw;
}

#projects-scroll{
    position:absolute;
    top: 90vh;
}

.projects{
    background: rgb(0,3,34);
    position:relative;
}

.projects-text-wrapper{
    position:absolute;
    left:10.65vw;
    top:5vh;
    width:calc(100vw - 22.65vw - 22.65vw);
    height:75vh;
    border:2px;
    border-radius: 0.5vw;
    background-color: rgb(0,53,95);
    color:rgb(208, 208, 208);
    padding:1.5vw;
    opacity: 1;
    transition: transform 1s, opacity 1s;
    overflow:hidden;
}

.show-projects{
    opacity: 1;
    transform: translateX(0);
}

.hide-projects{
    opacity: 0;
    transform: translateX(-50%);
}

.slide-out{
    transform: translateX(-200%);
    opacity: 0;
}

.projects-text-wrapper h1{
    font-size: 3vw;
}

.projects-text-wrapper *{
    font-size: 3.5vh;
}

.projects-text-wrapper img{
    padding-left: 3.5vw;
}

.project-svg{
    position:absolute;
    z-index: 1;
    transform: translate(-2vw,-24.5vh);
}

#animated-line{
    transform:scaleX(11) scaleY(11) translate(-19.1%,-30%);
}

.animated-line {
    stroke-dasharray: [actual length];
    stroke-dashoffset: [actual length];
    animation: drawLine 2s linear forwards;
}
  
@keyframes drawLine {
    to {
      stroke-dashoffset: 0;
    }
}

.animated-line {
    stroke-dasharray: [actual length];
    stroke-dashoffset: [actual length];
    animation: drawLine 4s linear forwards;
    opacity: 1;
}
  
@keyframes drawLine {
    to {
      stroke-dashoffset: 0;
    }
}

@media (max-width: 650px){
    .project-svg{
        transform: translate(-2vw,-28vh);
    }
}

@media (max-width: 550px), (max-height: 520px) {
    .animated-line{
        opacity: 0;
    }
}


@property --colour1 {
    syntax: '<color>';
    initial-value: rgb(46, 60, 204);
    inherits: false;
}
  
@property --colour2 { 
    syntax: '<color>';
    initial-value: rgb(0, 53, 95);
    inherits: false;
}

.project-arrow{
    opacity: 0;
}

.show-arrow{
    transition: opacity 1s;
    opacity: 1;
}

.hide-arrow{
    transition: opacity 0s;
    opacity: 0;
}

.project{
    transform: translateX(75%);
    opacity: 0;
}

.show-project{
    transform: translateX(0);
    transition: opacity 2s, transform 1s;
    opacity: 1;
}

.hide-project{
    transform: translateX(75%);
    transition: opacity 0s, transform 0s;
    opacity: 0;
}

.renderer-button {  
    --colour1: rgb(0,53,95);
    --colour2: rgb(0,53,95);
    border: rgb(23, 57, 150) solid 0.2vw;
    background: linear-gradient(to right, var(--colour1), var(--colour2));
    border-radius: 2vw;
    color: white;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.4vw;
    cursor: pointer;
    margin-top: 15%;
    margin-left: 3%;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 2s, --colour1 400ms, --colour2 400ms;
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    33.3% {
      transform: translateX(-1%);
    }
    66.7% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(+1%);
    }
}

.shake {
    animation: shake 0.1s ease infinite;
}

.show-renderer-button{
    opacity: 1;
}

.hide-renderer-button{
    opacity: 0;
}

.renderer-button:hover {
    --colour2: rgb(46, 60, 204);
    --colour1: rgb(97, 78, 205);
}

.renderer-button:active {
    top:64.3vh;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0);
}

.renderer-error{
    font-size: 2.7vh;
    position:absolute;
    top:74vh;
    left:12vw;
    opacity: 0;
    transition: opacity 500ms;
}

.renderer-error a{
    font-size: 2.7vh;
    text-decoration: underline;
}

.renderer-error a:hover{
    color: blue;
    text-decoration: underline;
}

.renderer-container{
    position:absolute;
    display:grid;
    grid-template-rows: 60vh 10vh;
    grid-template-columns: 1fr 1fr;
    column-gap:0px;
    row-gap:0px;
    margin-left:22.65vw;
    top:5vh;
    width:calc(100vw - 22.65vw - 22.65vw);
    height:75vh;
    border:2px;
    border-radius: 0.5vw;
    background-color: rgb(31, 21, 108);
    color:rgb(208, 208, 208);
    padding:1.5vw;
    opacity: 0;
    transition: transform 1s, opacity 2s;
}

.renderer-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shrink-out{
    transition: transform 1s, opacity 2s;
    opacity: 0;
    transform:scale(0)
}

.expand-in{
    transition: transform 1s, opacity 2s;
    opacity: 1;
    transform:scale(1);
}

#controls{
    grid-column: 1;
    font-size: 1.7vw;
    font-size: 2vw;
}

.large-icon td img{
    width:3vw;
}

.small-icon td img{
    width:1.5vw
}


.window-container{
    background-color: white;
    grid-column: 2;
    float:right;
    width:32vw;
    height:32vw;
    border-radius: 0.5vw;
}

.window{
    width:100%;
    height:100%;
}

.renderer-text{
    padding-top: 12vh;
    font-size: 1.4vw;
    grid-column: 1/span 2;
    grid-row: 2;
    text-align: center;
}

#contacts-scroll{
    position:absolute;
    top:90vh;
}

.contact{
    background: rgb(0,3,34);
    color:rgb(208, 208, 208);
}

.contact > h1{
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}

.contact-types{
    position:relative;
    z-index: 2;
}

.contact-types a{
    position:absolute;
    font-size: 2vw;
    width:max-content;
    height:max-content;
    border-radius: 25vw;
    cursor: pointer;
    padding:0.8vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.contact-text:hover {
    text-decoration: underline;
}

.contact-types a:active {
    transform: translateY(2%);
}

#email{
    left: 10vw;
}

#github{
    left: 10vw;
    top:7vw;
}

#website{
    left: 10vw;
    top:14vw;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
